<div class="row">
    <div class="col-md-12">
        <h3>Update Post</h3>
        <hr>
        <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
            <div class="mb-3">
                <label class="control-lable">Title</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
                    <div *ngIf="postForm.get('title')?.errors?.['required']" class="alert alert-warning">
                        Title is required
                    </div>
                    <div *ngIf="postForm.get('title')?.errors?.['minlength']" class="alert alert-warning">
                        Title should be minimum 6 characters.
                    </div>
            </div>
            <div class="mb-3">
                <label class="control-lable">Description</label>
                <textarea type="text" class="form-control" formControlName="description"></textarea>
            </div>
            <div *ngIf="postForm.get('description')?.touched && !postForm.get('description')?.valid">
                <div *ngIf="postForm.get('description')?.errors?.['required']" class="alert alert-warning">
                    Description is required
                </div>
                <div *ngIf="postForm.get('description')?.errors?.['minlength']" class="alert alert-warning">
                    Description should be minimum 10 characters.
                </div>
        </div>
            <div class="my-3">
              <button  class="btn btn-danger" [disabled]="!postForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>
